<ul class='column'>
	<li class='group'>Base Views</li>
	<li><a href='day_view.html'>Day</a></li>
	<li><a href='week_view.html'>Week</a></li>
	<li><a href='month_view.html'>Month</a></li>
	<li><a href='year_view.html'>Year</a></li>
</ul>

<ul class='column'>
	<li class='group'>Advanced Views</li>
	<li><a href='units_view.html'>Units</a></li>
	<li><a href='timeline_view.html'>Timeline</a></li>
	<li><a href='weekagenda_view.html'>Week Agenda</a></li>
	<li><a href='grid_view.html'>Grid</a></li>
</ul>

<ul class='column'>
	<li class='group'>Customizing</li>
	<li><a href='configuring_the_scheduler.html'>Scheduler</a></li>
	<li><a href='customizing_events.html'>Events</a></li>
	<li><a href='configuring_the_lightbox.html'>Lightbox</a></li>
	<li><a href='special_extensions.html'>Extensions</a></li>
</ul>

<ul class='column'>
	<li class='group'>Similar Components</li>
	<li><a href='http://dhtmlx.com/docs/products/dhtmlxGantt/'>Gantt</a></li>
	<li><a href='http://javaplanner.com'>Java Planner</a></li>
	<li><a href='http://scheduler-net.com'>Scheduler .Net</a></li>
</ul>

<ul class='column'>
	<li class='group'>API</li>
	<li><a href='api__refs__scheduler_events.html'>Events</a></li>
	<li><a href='api__refs__scheduler_methods.html'>Methods</a></li>
	<li><a href='api__refs__scheduler_props.html'>Properties</a></li>
	<li><a href='api__refs__scheduler_templates.html'>Templates</a></li>
</ul>