   <div class="arrow-down"><div></div></div>
    <div class="wrapper-components-links">
        <div class="inside-components-links">
    	   	<a href="howtostart_guides.html" class="item-component-link">
                <h3>Getting Started</h3>
        		<div class='bottom_icon0'></div>
                <p>Learn a basic development stuff to start building your scheduler application</p>
            </a>
        	<a href="views.html" class="item-component-link">
                <h3>Views</h3>
    			<div class='bottom_icon1'></div>
                <p>Explore in greater detail the calendar views that can be used to display the events</p>
           </a>
        	<a href="guides.html" class="item-component-link">
                <h3>Guides</h3>
    			<div class='bottom_icon2'></div>
                <p>Discover detailed guides and learn how to use the powerful features of the scheduler</p>
			</a>
            <a href="$${samples_http}index.html" class="item-component-link">
                <h3>Demos</h3>
    			<div class='bottom_icon3'></div>
                <p>Check out the live demos to see what you can do with dhtmlxScheduler</p>
			</a>
        	<a href="api__refs__scheduler.html" class="item-component-link">
                <h3>API Reference</h3>
    			<div class='bottom_icon4'></div>
                <p>Look up the required method, property or event in the detailed API reference </p>
			</a>
        </div>        
    </div>